body{
    font-family: 'Arial', sans-serif;
    color: #343a40;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgba(207, 205, 205, 0.7);
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link,
.dropdown-menu a {
    color: white !important;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
}

.parallax-section {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.parallax-section h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.parallax-section p {
    font-size: 1.5rem;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 2rem 0;
    text-align: center;
}